* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
}