body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: wheat;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5%;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://placehold.co/1200x400") center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h2 {
    font-size: 2.5em;
}

.btn {
    background: wheat;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #e6c290;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.offerings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.offering {
    background: wheat;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    padding-bottom: 20px;
}

.offering img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#oferta .offering {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    background-color: wheat;
    color: black;
    padding: 40px 20px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 20px;
}


#o-nas, #oferta, #galeria {
    margin: 0 20%;
}
