* {
   margin: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: #302040;
   color: white;
}

nav {
   width: 100vw;
   padding: 10px 10px 10px 0;
   box-shadow: 5px 5px 5px #ffaaff;
}

nav ul {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
   list-style: none;
   padding: 0;
}

nav ul li {
   width: 100px;
   background-color: #201030;
   border: 2px solid #ffaaff;
   border-radius: 8px;
   text-align: center;
}

nav a {
   text-decoration: none;
   color: #ffaaff;
   padding: 5px 15px 5px 15px;
}

nav li:hover {
   background-color: #ffaaff;
   transition: all 0.2s ease;
}

nav a:hover {
     color: #201030;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   background-color: #201030;
   width: 100vw;
   height: 70vh;
   box-shadow: 10px 0 10px #ffaaff;
}

section {
   width: 80vw;
   height: 1000px;
}

footer {
   width: 100vw;
   height: 100px;
   background-color: #201030;
}